body {
  font-size: 16px;
  color: white;
  background-color: #272727;
  font-family: 'Jura', sans-serif;
}

/* HEADER */
#header-nav {
  background-color: Black;
  border-radius: 0;
  border: 0;
  color: white;
}

.navbar-brand p {
  color: white;
  font-size: 20px;
}

.navbar-brand a:focus, .navbar-brand a:hover {
  text-decoration: none;
}

#nav-list a {
  color: white;
  text-align: center;
}

#nav-list a:hover {
  color: black;
  background-color: white;
}
/* END HEADER */

/* Section */
#home {
  margin-bottom: 30px;
  text-shadow: 1px 2px 2px #656565;
}

.row {
  position: relative;
  float: left;
}
.red {
  background-color: #F35D2C;
}
.blue {
  background-color: #0092D1;
}
.green {
  background-color: #63BA07;
}
.row > div > article {
  text-align: justify;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #7C7c7c;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
}
/* End Section */


@media (max-width: 767px) {
  .row > div > article {
    width: 80%;
    margin: 20px auto 0;
  }
}